/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}


/* MAIN */

.my-main {
    width: 100%;
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 19%, rgba(227,219,213,1) 19%);
}



/* my container */

.my-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.my-container > #left-side {
    width: 35%;
    background-color: #FFFFFF;
    height: 100%
}

.my-container > #right-side {
    width: calc(100% - 35%);
    height: 100%;
}


.image-container {
    width: 50px;
    height: 50px;
}

.image-container > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/* left side */


#left-side > header {
    background-color: #EAEAEA;
}

#left-side header a  {
    color: #999a9a;
}


#notif-section {
    background-color: #8EDAFC;
}

#bell-background{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: #8EDAFC;
}

#bell-background > * {
    line-height: 35px;
    padding-left: 12px;
    cursor: pointer;
}

#notif-section a {
    color:#5d5d5d;
    font-size: small;
}

#convo-section ul {
    height: 450px;
    overflow-y: scroll
}

#convo-section input {
    width: 100%;
    font-size: small;
}


/* right side */

#right-side header {
    background-color:#EAEAEA;
    height: 10%;
}

#right-side a{
    color: #5d5d5d;
}

#right-side main {
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    overflow-y: scroll;
}

#right-side footer {
    background-color: #DAD2CC;
    height: 10%;
}

.sent {
    background-color:  #d5f9ba;
    align-self: end;
}

.received{
    background-color: white;
    align-self: start;
}

.date {
    font-size: 10px;
    text-align: right;
}

#right-side small {
    font-size: 10px;
    padding-left: 100px;
}


#right-side main {
    height: 80%;
}


footer a {
    font-size: large;
}

.dropdown-toggle::after {
    content: none;
}