<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE BOOLZAP</title>

    <!-- VUE-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- FONTS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="app">

        <!-- main -->
        <main class="my-main">
                
            <!-- my container -->
            <div class="my-container py-5 d-flex">
                
                <!-- left-side-->
                <section id="left-side">
                    
                    <!-- header left side-->
                    <header class="d-flex justify-content-between align-items-center py-2 ps-2">

                        <div class="d-flex align-items-center">
                            <div class="image-container">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <span class="ms-2">
                                <a href="#" class="text-black text-decoration-none">
                                    Jane
                                </a>
                            </span>
                        </div>
                       
                        <div>
                            <a href="#" class="mx-2">
                                <i class="fa-solid fa-circle-notch"></i>
                            </a>
                            <a href="#" class="mx-2">
                                <i class="bi bi-chat-left-fill"></i>
                            </a>
                            <a href="#" class="mx-2">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                        </div>

                    </header>

                    <!-- main left side-->
                    <main>

                        <section id="notif-section" class="ps-2 py-2 d-flex">

                            <div id="bell-background">
                                <i class="bi bi-bell-slash-fill"></i> 
                            </div>
                            <span class="ms-2">
                                Ricevi notifiche di nuovi messaggi
                                <small>
                                    <a href="#" class="d-block">
                                        Attiva notifiche desktop
                                    </a>
                                </small>
                            </span>

                        </section>  

                        <section id="convo-section">

                            <div class="input-group flex-nowrap" >
                                <span class="input-group-text" id="addon-wrapping">
                                    <i class="bi bi-search"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="addon-wrapping" v-model="name" @keyup.enter="searchContact()">
                            </div>

                            <ul class="list-unstyled "  >
                                <li v-for="(singleContact, index) in contacts"  @click="changeContact(index)">
                                    <div v-if="singleContact.visible"class="d-flex align-items-center my-3 mx-2">
                                        <div class="image-container">
                                            <img :src="singleContact.avatar">
                                        </div>
                                        <div>
                                            {{singleContact.name}}
                                            <div class="date">
                                                Ultimo messaggio inviato
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            

                        </section>

                    </main>

                </section>

                <!-- right side-->
                <section id="right-side" >

                    <header class="py-2 ps-2 d-flex justify-content-between align-items-center">

                       <div class="d-flex align-items-center">
                            <div class="image-container">
                                <img :src="contacts[currentActive].avatar" >
                            </div>
                            <div class="ms-2">
                                {{contacts[currentActive].name}}
                                <div class="date">
                                    Ultimo accesso oggi alle 17.00
                                </div>
                            </div>
                       </div>
                       <div>
                            <a href="#" class="text-decoration-none me-2 ">
                                <i class="bi bi-search"></i>
                            </a>
                            <a href="#" class="text-decoration-none me-2">
                                <i class="bi bi-link-45deg"></i>
                            </a>
                            <a href="#" class="text-decoration-none ">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                       </div>

                    </header>

                    <main class="d-flex flex-column px-5 pt-4 pb-5"  >

                        <div class="mb-3 p-2 rounded-2" v-for="(message, index) in contacts[currentActive].messages" :class="message.status == 'sent' ? 'sent' : 'received'">
                            {{contacts[currentActive].messages[index].message}}
                            <div class="date">
                                {{contacts[currentActive].messages[index].date}}
                            </div>
                        </div>
                       
                        

                    </main>

                    <footer class="d-flex justify-content-between px-3 py-1">

                        <a href="#" class="py-3" >
                            <i class="bi bi-emoji-smile"></i>
                        </a>
                        
                        <input @keyup.enter="addMessage()" type="text"  class="flex-grow-1 mx-3 border-0 rounded-1 ps-3 my-1"  placeholder="Scrivi un messaggio" v-model="newMessage">
                        
                        <a href="#" class="py-3">
                            <i class="bi bi-mic-mute-fill"></i>
                        </a>

                    </footer>

                </section>

            </div>

        </main>

    </div>
    
    <!-- JS -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>